$font-size: (
  errorMessage: 0.875rem,
);
.form {
  align-items: center;
  @media (max-width: 540px) {
    align-items: flex-start;
    height: min-content;
  }
}
.loginForm {
  @media (max-width: 540px) {
    padding: 24px 0;
  }
}
label {
  font-weight: bold;
  color: #6c757d;
}
.rememberMeInput {
  margin-bottom: 0.1rem;
}
.errorMessage {
  font-size: map-get($font-size, errorMessage);
  color: red;
}
