h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,p,span,li{
  margin-bottom: 0;
}

p,span,li{
  font-size: 1rem;
}


ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  li{
    padding-left: 0;
  }
}

a{
  display: block;
  color: #000;
  cursor: pointer;
}